---

import { siteData as data } from "@src/data/siteData";

---
<a href="/" class="logo">
  <img
    class="logo__img"
    src={data.siteLogo}
    alt={`logo de ${data.siteTitle}`}
    width="50"
    height="50"
  />
  <div class="logo__container">
    <h3 class="logo__title">{data.name}<span>{data.lastName}</span></h3>
<!--     <p class="logo__slogan">{data.siteSlogan}</p> -->
  </div>
</a>