---
import DateTag from "@src/components/atoms/DateTag/DateTag.astro";
import Loader from "@src/components/atoms/Loader/Loader.astro";
import { replaceIframes } from "@src/utils/index";
const { post, author } = Astro.props;
---

<article class="flex flex-col w-full overflow-x-clip">
  <!-- Author Info -->
  <div
    class="flex items-center justify-between my-10 px-4 shadow-md rounded-lg w-full bg-violet-500/20"
  >
    <div class="flex gap-4 items-center justify-start group">
      <img
        id="author-image"
        class="w-20 h-20 group-hover:scale-110 rounded-full"
        src={author.avatar?.url}
        alt={author.name}
      />
      <div class="flex flex-col gap-1">
        <p class="text-2xl font-bold !m-0 text-gradient">
          {author.firstName}
          {author.lastName}
        </p>
        <p class="font-bold text-2xl !m-0">
          Tiempo de lectura
          <span class="text-violet-700"> {post.seo.readingTime} minutes</span>
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <div class="flex flex-col items-center gap-2">
        <p class="font-bold text-2xl">
          Fecha de publicación
          <DateTag isShort={false} date={post.date} />
        </p>
      </div>
    </div>
  </div>
  <div class="post-container" id="container-post">
    <dialog
      class="popup__image w-full open:flex justify-center items-center h-full fixed left-0 top-0 p-5"
    >
    </dialog>
    {
      post.content ? (
        <Fragment set:html={replaceIframes(post.content) || ""} />
      ) : (
        <Loader />
      )
    }
    <slot />
  </div>
</article>

<script is:inline>
  const adBlock =
    `<script  async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3828278469742835"
     crossorigin="anonymous"></` +
    `script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-format="fluid"
        data-ad-layout-key="-fb+5w+4e-db+86"
        data-ad-client="ca-pub-3828278469742835"
        data-ad-slot="6132125318">
    </ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </` +
    `script>`;
  const postContainer = document.querySelector("#post");
  const headings = postContainer?.querySelectorAll(".wp-block-heading");
  headings?.forEach((heading) => {
    if (heading.classList.contains("title__text")) return;
    heading.insertAdjacentHTML("beforebegin", adBlock);
  });
</script>

<script>
  import "@src/utils/fast-youtube";
  document.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById("container-post") as HTMLElement;
    const allImages = container.querySelectorAll<HTMLImageElement>("img");
    const dialog = container.querySelector("dialog") as HTMLDialogElement;
    const body = document.querySelector("body") as HTMLBodyElement;

    allImages.forEach((image) => {
      image.addEventListener("click", () => {
        dialog.open = true;
        body.classList.add("overflow-hidden");
        const imageSrc = image.getAttribute("src");
        const imageAlt = image.getAttribute("alt") || "Image";
        const imageRender = document.createElement("img");
        imageRender.src = imageSrc || "";
        imageRender.alt = imageAlt;
        dialog.appendChild(imageRender);
      });
    });

    dialog.addEventListener("click", () => {
      dialog.close();
      body.classList.remove("overflow-hidden");
      dialog.innerHTML = "";
    });
  });
</script>

<script is:inline>
  const pintItButton = document.querySelectorAll(
    ".pinsavepinterest-pin-it-button",
  );
  pintItButton.forEach((button) => {
    const href = button?.getAttribute("href");
    if (!href) return;

    const updatedHref = href.replace(
      /url=https?:\/\/[^&]*/,
      (match) =>
        "url=" +
        match
          .slice(4)
          .replace(/https?:\/\/[^/]+/, "https://www.sofidev.blog/post/"),
    );

    button.setAttribute("href", updatedHref);
  });
</script>
