---
import type { GetStaticPaths } from "astro";
export const prerender = true;
import Layout from "@layouts/Layout.astro";
import { getLanguageDetail } from "@src/services/querys/languages/getLanguageDetail";
import type { Node } from "@src/types/LanguageDetail.type";

export async function getStaticPaths() {
  const data = await getLanguageDetail();
  return data?.map((language: Node) => ({
    params: { slug: language.slug },
    props: { language },
  }));
}

const { language } = Astro.props as { language: Node };
const { title, curso, content } = language;
const { icon, modulo } = curso;
---

<Layout title={title}>
  <section class="language" id="post">
    <div class="language__container">
      <img
        class="language__icon"
        src={icon.node.mediaItemUrl}
        srcset={icon.node.srcSet}
        sizes={icon.node.sizes}
        alt={title}
      />
      <div class="language__content">
        <h1 class="text-gradient language__title">{title}</h1>
        <div set:html={content} />

        {
          modulo?.nodes && modulo.nodes.length > 0 && (
            <>
              {modulo.nodes.map((mod) => (
                <details>
                  <summary>Modulos</summary>
                  <a href={`/languages/${language.slug}/module/${mod.slug}`}>
                    {mod.title}
                  </a>
                </details>
              ))}
            </>
          )
        }
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  @use "@sass/variables" as *;
  @use "@sass/mixins" as *;
  .language {
    width: 100%;
    max-width: 1100px;
    margin: 10rem auto;
    &__title {
      font-size: 5rem;
      margin-bottom: 2rem;
      font-weight: 700;
    }
    &__container {
    @include flexConfig(center, flex-start);
    }
    &__icon {
      position: sticky;
      top: 4rem;
      width: 100%;
      max-width: 300px;
      height: auto;
      &:hover{
          transform: rotateY(360deg);
          transition: all 1s ease-in-out;
          filter: drop-shadow(0 0 0.75rem $ufo-green);
      }
    }
  }
</style>
