---
const {
  key,
  link,
  slug,
  title,
  excerpt,
  image,
  srcSet,
  sizes,
  altdesc,
  author,
  authorImage,
  authorFirstName,
  authorLastName,
  categories,
  currentGroupcategory,
  date,
} = Astro.props;

import { fade } from "astro:transitions";

const formatDate = new Date(date);
const day = formatDate.getDate();
const before_month = formatDate
  .toLocaleString("default", { month: "long" })
  .slice(0, 3);
const month = before_month.charAt(0).toUpperCase() + before_month.slice(1);
const year = formatDate.getFullYear();
const newDateFormat = `${day} / ${month} / ${year}`;

// Usar currentGroupcategory directamente (sin JSON.stringify)
const currentGroup = currentGroupcategory;
console.log("💜 Current Group:", currentGroup);

// Ordenar las categorías para que la categoría del grupo actual aparezca primero
const sortedCategories = categories.sort((a, b) => {
  if (a.name === currentGroup) return -1; // La categoría actual va primero
  if (b.name === currentGroup) return 1;
  return 0;
});

// Obtener la primera categoría para el transition:name
const getFirstcategory = sortedCategories.map((category) => category.name);
console.log("🧡 First Category:", getFirstcategory[0]);
---

<article
  class="post-card"
  transition:name=`${title}-${getFirstcategory[0]}`
  transition:animate={fade({ duration: ".4s" })}
>
  <!-- Imagen del post -->
  <div class="post-card__image-container">
    <img
      srcset={srcSet}
      sizes={sizes}
      alt={altdesc}
      src={image || "/img/branding/logo.png"}
      class="post-card__image"
    />
    <div class="post-card__image-overlay"></div>
  </div>

  <!-- Contenido del post -->
  <div class="post-card__content">
    <!-- Autor e información adicional -->
    <div class="post-card__author">
      <img
        src={authorImage}
        alt={`${authorFirstName} ${authorLastName}`}
        class="post-card__author-image"
      />
      <div class="post-card__author-info">
        <p class="post-card__author-name">{authorFirstName} {authorLastName}</p>
        <time datetime={date} class="post-card__date">
          <iconify-icon icon="majesticons:clock"></iconify-icon>
          {newDateFormat}
        </time>
      </div>
    </div>
    <!-- Título -->
    <a href={`/blog/${link}`} data-astro-prefetch>
      <h3 class="post-card__title group">
        {title}
        <iconify-icon
          icon="ri:links-line"
          class="group-hover:opacity-100 opacity-0 transition-all duration-200 ease-linear"
        ></iconify-icon>
      </h3>
    </a>

    <!-- Descripción -->
    <fragment class="post-card__excerpt" set:html={excerpt} />

    <!-- Categorías -->
    <div class="post-card__categories">
      {
        sortedCategories.map((category) => (
          <a
            data-astro-prefetch
            href={`/categories/${category.slug}`}
            class="post-card__category"
          >
            {category.name}
          </a>
        ))
      }
    </div>
  </div>
</article>