---
const {
  link,
  linkBody = "Leer más",
  title,
  body,
  image,
  altdesc,
  author,
  authorImage,
  authorFirstName,
  authorLastName,
  categories,
  categorySlug, // Recibir el slug de categoría
  date,
} = Astro.props;
import { fade } from "astro:transitions";
---

<article class="post-card">
  <!-- Imagen del post -->
  <div class="post-card__image-container">
    <img
      alt={altdesc}
      src={image || "/img/branding/logo.png"}
      class="post-card__image"
      transition:name=`${title}-image`
      transition:animate={fade({ duration: "1s" })}
    />
    <div class="post-card__image-overlay"></div>
  </div>

  <!-- Contenido del post -->
  <div class="post-card__content">
    <!-- Autor e información adicional -->
    <div class="post-card__author">
      <img
        src={authorImage}
        alt={`${authorFirstName} ${authorLastName}`}
        class="post-card__author-image"
      />
      <div class="post-card__author-info">
        <p class="post-card__author-name">{authorFirstName} {authorLastName}</p>
        <time datetime={date} class="post-card__date"
          >{new Date(date).toLocaleDateString()}</time
        >
      </div>
    </div>
    <!-- Título -->
    <a href={link}>
      <h3 class="post-card__title">{title}</h3>
    </a>

    <!-- Descripción -->
    <fragment class="post-card__excerpt" set:html={body} />

    <!-- Categorías -->
    <div class="post-card__categories">
      {
        categories.map((category) => (
          <a href={`/categories/${category.slug}`} class="post-card__category">
            {category.name}
          </a>
        ))
      }
    </div>

    <!-- Leer más link -->
    <a href={link} class="post-card__read-more">
      {linkBody}
      <span class="post-card__read-more-icon">&rarr;</span>
    </a>
  </div>
</article>
