---
const {
  key,
  link,
  slug,
  title,
  excerpt,
  image,
  altdesc,
  author,
  authorImage,
  authorFirstName,
  authorLastName,
  categories,
  date,
} = Astro.props;
import { fade } from "astro:transitions";
console.log(slug);


const formatDate = new Date(date);
const day = formatDate.getDate();
const before_month = formatDate
  .toLocaleString("default", { month: "long" })
  .slice(0, 3);
const month = before_month.charAt(0).toUpperCase() + before_month.slice(1);
const year = formatDate.getFullYear();

const newDateFormat = `${day} / ${month} / ${year}`;

---

<article
  class="post-card"
  transition:name=`${title+1}-${categories[0].name}`
  transition:animate={fade({ duration: ".4s" })}
>
  <!-- Imagen del post -->
  <div class="post-card__image-container">
    <img
      alt={altdesc}
      src={image || "/img/branding/logo.png"}
      class="post-card__image"
    />
    <div class="post-card__image-overlay"></div>
  </div>

  <!-- Contenido del post -->
  <div class="post-card__content">
    <!-- Autor e información adicional -->
    <div class="post-card__author">
      <img
        src={authorImage}
        alt={`${authorFirstName} ${authorLastName}`}
        class="post-card__author-image"
      />
      <div class="post-card__author-info">
        <p class="post-card__author-name">{authorFirstName} {authorLastName}</p>
        <time datetime={date} class="post-card__date">
          <iconify-icon icon="majesticons:clock"></iconify-icon>
          {newDateFormat}
        </time>
      </div>
    </div>
    <!-- Título -->
    <a href={link} >
      <h3 class="post-card__title group">
        {title}
        <iconify-icon
          icon="ri:links-line"
          class="group-hover:opacity-100 opacity-0 transition-all duration-200 ease-linear"
        ></iconify-icon>
      </h3>
    </a>

    <!-- Descripción -->
    <fragment class="post-card__excerpt" set:html={excerpt} />

    <!-- Categorías -->
    <div class="post-card__categories">
      {
        categories.map((category) => (
          <a
            href={`/categories/${category.slug}`}
            class="post-card__category"

          >
            {category.name}
          </a>
        ))
      }
    </div>
  </div>
</article>
