---
import { fade } from "astro:transitions";
import type { Post } from "@src/types/post.type.ts";
import { formatedDateShort } from "@utils/formatedDate";
const {
  link,
  slug,
  title,
  excerpt,
  featuredImage,
  author,
  categories,
  date,
} = Astro.props;


const data: Post = {
  image: featuredImage?.node?.sourceUrl || "/img/branding/logo.png",
  altdescription: featuredImage?.node?.altText || 'patata',
  title: title,
  slug: slug,
  categories: categories.nodes,
  author: author?.node,
  date: formatedDateShort(date),
  excerpt: excerpt,
};

console.log("authorImage", data.author);
---

<article
  class="post-card"
>
  <!-- Imagen del post -->
  <div class="post-card__image-container">
    <img
      alt={data.altdescription}
      src={data.image }
      class="post-card__image"
    />
    <div class="post-card__image-overlay"></div>
  </div>

  <!-- Contenido del post -->
  <div class="post-card__content">
    <!-- Autor e información adicional -->
    <div class="post-card__author">
      <img
        src={data?.author?.avatar?.url}
        alt={`${data.author?.firstName} ${data.author?.lastName}`}
        class="post-card__author-image"
      />
      <div class="post-card__author-info">
        <p class="post-card__author-name">{data.author?.firstName} {data.author?.lastName}</p>
        <time datetime={data.date} class="post-card__date">
          <iconify-icon icon="majesticons:clock"></iconify-icon>
          {data.date}
        </time>
      </div>
    </div>
    <!-- Título -->
    <a href={`/blog/${slug}`}>
      <h3 class="post-card__title group">
        {data.title}
        <iconify-icon
          icon="ri:links-line"
          class="group-hover:opacity-100 opacity-0 transition-all duration-200 ease-linear"
        ></iconify-icon>
      </h3>
    </a>

    <!-- Descripción -->
    <fragment
      class="post-card__excerpt"
      set:html={data.excerpt.replace(/\[.*?\]/g, "...")}
    />

    <!-- Categorías -->
    <div class="post-card__categories">
      {
        categories?.nodes?.map((category) => (
          <a href={`/categories/${category.slug}`} class="post-card__category">
            {category.name}
          </a>
        ))
      }
    </div>
  </div>
</article>
