---
// import PostCard from "@src/components/atoms/PostCard/PostCard.astro";
// import type { CardPost } from "@src/types/post.type.ts";

// interface Props {
//   posts: CardPost[];
// }

const { posts } = Astro.props;
---

<section class="astro-section">
  {
    // posts.map((post) => (
    //   <div class="astro-card">
    //     <h2>{post.title}</h2>
    //     <fragment set:html={post.excerpt} />

    //     {/* {post?.categories?.map((category) => (
    //       <a href={`/categories/${category.slug}`} class="category-link">
    //         {category.name}
    //       </a>
    //     ))} */}
    //     <img src={post?.featuredImage?.node?.link} alt={post.title} />
    //   </div>
    // ))
  }
</section>

<style>
  .category-link {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.25rem 0.75rem;
    border-radius: 999px;
    background: #f0f0f0;
    color: #333;
    text-decoration: none;
  }
</style>
