---
import { fetchMenuData } from "@src/services/getMenu.js";
import { flatListToHierarchical } from "@utils/flatListToHierarchical";
import MoreInfo from "./MoreInfo.astro";

const pagePathname = Astro.url.pathname;
const menuData = await fetchMenuData("menu");
const menuItems = Array.isArray(menuData?.menu?.menuItems?.nodes)
  ? [...menuData.menu.menuItems.nodes]
  : [];

type PropsCategoryList = {
  id: string;
  parentId: string | null;
  path: string;
  label: string;
  slug: string;
  children: PropsCategoryList[];
};

const CategoryList: PropsCategoryList[] = flatListToHierarchical(menuItems);
---

<nav class="header__nav">
  <ul>
    {
      pagePathname !== "/" && (
        <li class="header__item">
          <a class="header__link" href="/" data-astro-prefetch="hover">
            Inicio
          </a>
        </li>
      )
    }
    <li class="header__list">
      <span class="header__link">
        Categorías
        <iconify-icon
          class="header__icon__dropdown dropdown__icon"
          icon="gridicons:dropdown"></iconify-icon>
      </span>
      <ol class="header__dropdown">
        {
          CategoryList.map((element) => (
            <li class="dropdown__list">
              {element.children.length > 0 ? (
                <>
                  <a href={`/categories/${element.slug}`} aria-label={`go to ${element.label.toLowerCase()}`}>
                    {element.label}
                    <iconify-icon
                      class="dropdown__icon dropdown__list__icon"
                      icon="gridicons:dropdown"
                    />
                  </a>
                  <ol>
                    {element.children.map((children) => (
                      <li class="dropdown__item__list">
                        <a
                          href={`/categories/${children.slug}`}
                          aria-label={`go to ${children.label.toLowerCase()}`}
                        >
                          {children.label}
                        </a>
                      </li>
                    ))}
                  </ol>
                </>
              ) : (
                <a
                  href={`/categories/${element.slug}`}
                  aria-label={`go to ${element.label.toLowerCase()}`}
                >
                  {element.label}
                </a>
              )}
            </li>
          ))
        }
      </ol>
    </li>
    <MoreInfo />
  </ul>
  <a href="/support" class="header__support"> Apoyar este sitio 💚 </a>
</nav>
