---
// Importar PostCard y los datos
import PostCard from "@atoms/PostCard/PostCard.astro";
import { cardsData as data}  from "@services/getCards.js";

const cardsData = await data();
if (!cardsData) {
  return Astro.redirect("/404");
}
// Verificar si existen datos de los posts
if (!cardsData?.posts?.nodes) {
  throw new Error("Los datos de las publicaciones no están disponibles.");
}
// Ordenar los posts por fecha
const sortedPosts = cardsData.posts.nodes.sort(
  (a, b) => Date.parse(b.date) - Date.parse(a.date)
);
// Agrupar los posts por categorías principales
const postsByCategory = sortedPosts.reduce((acc, post) => {
  post.categories.nodes.forEach((category) => {
    if (!acc[category.name]) {
      acc[category.name] = [];
    }
    acc[category.name].push(post);
  });
  return acc;
}, {});
---
<!-- Renderizado de los posts -->
<div class="categories__container">
  {
    Object.keys(postsByCategory).map((category) => (
      <section class="category__section" id={category}>
        <div class="category__title">
          <h2>{category}</h2>
          <a href={`/categories/${category}`} class="category__title__link">
            Ver más
            <iconify-icon class="title__arrow" icon="fe:arrow-right" width="24" height="24"  style="color: current"></iconify-icon>
          </a>
        </div>

        <ul role="list" class="link-card-grid">
        {postsByCategory[category].slice(0,4).map((post) => {
            const categories = post.categories.nodes.map((category) => ({
                name: category.name,
                slug: category.slug,
            }));
            // Fallback para la imagen destacada
            const featuredImage =
              post.featuredImage?.node?.mediaItemUrl ||
              "/img/branding/defaultBanner.png";
            const altText =
              post.featuredImage?.node?.altText || "Imagen por defecto";

            // Lógica para manejar el slug de subcategoría y el padre
            const primaryCategory = post.categories.nodes[0];


            return (
              <PostCard
                date={post.date}
                link={`/blog/${post.slug}`}
                title={post.title}
                excerpt={post.excerpt}
                image={featuredImage}
                altText={altText}
                author={post.author.node.name}
                authorImage={post.author.node.avatar.url}
                authorFirstName={post.author.node.firstName}
                authorLastName={post.author.node.lastName}
                categories={categories}

              />
            );
          })}
        </ul>
      </section>
    ))
  }
</div>
