---
const { language } = Astro.props;
---

<div class="language__card">
  <img
    class="language__card-icon"
    src={language.curso.icon.node.mediaItemUrl}
    alt={language.curso.icon.node.altText}
  />
  <div class="language__card-content">
    <h2 class="language__card-title">{language.title}</h2>
    <div class="language__card-excerp" set:html={language.curso.excerp} />
    <a class="language__card-link" href={`/languages/${language.slug}`}>
      Ver Lenguaje
    </a>
  </div>
</div>

<style is:inline lang="scss">
  @use "@sass/variables" as *;
  @use "@sass/mixins" as *;
  .language__card {
    @include flexConfig();
    background: rgba(0, 0, 0, 0.371);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 0.2rem 1rem;
    border-radius: 9px;
    &-content {
      @include flexConfig(start, start);
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
    }
    &-icon {
      width: 2rem;
      height: 2rem;
    }
    &-link {
      background: $french-violet;
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
    }
  }
</style>
