---
export const prerender = true;
import Layout from "@layouts/Layout.astro";
import Loader from "@src/components/atoms/Loader/Loader.astro";
import Title from "@src/components/atoms/Title/Title.astro";
import SearchForm from "@src/components/molecules/SearchForm/SearchForm.astro";
import Comments from "@src/components/organisms/Comments/Comments.astro";
import PostDetail from "@src/components/organisms/Posts/components/post-detail/PostDetail.astro";
import { PostContentData } from "@src/services/getPostContent";
import SideBar from "./sideBar/SideBar.astro";
const { slug } = Astro.params;

export async function getStaticPaths() {
  const data = PostContentData;

  return data?.posts?.nodes.map((post: any) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props as any;

if (!post) {
  throw new Error(`Post not found for slug: ${slug}`);
}

const { id } = post;
const postImage =
  post?.featuredImage?.node?.mediaItemUrl || "/img/branding/logo.png";

const { date } = Astro.props;

const author = post.author?.node;
const keyWords = post.tags.nodes.map((keyword) => keyword.name).join(", ");
---

<Layout image={postImage} title={post.title} description={post.seo.metaDesc}>
  <meta
    slot="head"
    name="author"
    content=`${author.firstName} ${author.lastName}, ${post.author.node.name} `
  />
  <meta slot="head" property="article:published_time" content={post.date} />
  <meta slot="head" property="article:modified_time" content={post.modified} />
  <meta slot="head" name="keywords" content={keyWords} />
  <!-- end of HEAD tags -->

  <section

    class="flex flex-col justify-center w-full pt-36 pb-20 px-10"
  >
    <div
      class="group w-full max-w-[1200px] mx-auto overflow-hidden rounded-[1.2rem] h-[506.25px] bg-cover bg-center bg-no-repeat relative flex flex-col items-start justify-end px-5 py-10 mb-20"
      style={`background-image: url(${
        post?.featuredImage?.node?.mediaItemUrl || "/img/defaultBanner.png"
      })`}
    >
      <div
        class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-[#0d0d0d] to-transparent"
      >
      </div>
      <Title
        titleDesc={post.title}
        class="font-bold text-[2.5rem] md:text-[4rem] my-10 text-center text-pretty z-10"
      >
        {post.title}
      </Title>
    </div>

    <div class="flex items-start justify-center gap-[8rem]">
      <!-- Post Detail -->
      <div id="post" class="min-h-screen flex flex-col">
        <PostDetail {post} {author}>
          <Comments slug={slug} postID={id} server:defer>
            <div slot="fallback">
              <Loader />
            </div>
          </Comments>
        </PostDetail>
      </div>
      <!-- Aside -->
      <SideBar />
    </div>
  </section>

  <div class="progress"></div>
</Layout>
<script>
  import { fastYoutube } from "@src/utils/fast-youtube";
  import { InsertButtonCopy } from "@pages/blog/button-copy";

  InsertButtonCopy();
</script>

<style lang="scss" is:global>
  @use "@sass/variables" as v;

  .progress {
    height: 0.2rem;
    width: 100%;
    background: v.$french-violet;
    position: fixed;
    top: 0;
    left: 0;
    transform-origin: 0 50%;
    animation: progressStatus auto linear;
    animation-timeline: scroll(root);
  }
  .dark {
    .progress {
      background: v.$ufo-green;
    }
  }

  @keyframes progressStatus {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
</style>
