---
import { getLanguageDetail } from "@services/querys/languages/getLanguageDetail";
import BackArrow from "@shared/icons/BackArrow.astro";
import type { Node } from "@src/types/LanguageDetail.type";
import { groupLessonsByModule } from "@utils/groupModules";
import Layout from "../layouts/Layout.astro";
export const prerender = true;

export async function getStaticPaths() {
  const data = await getLanguageDetail();
  return data?.map((language: Node) => ({
    params: { slug: language.slug },
    props: { language },
  }));
}

const { language } = Astro.props as { language: Node };
const { title, curso, content } = language;
const { icon, modulo } = curso;

const modulesGrouped = groupLessonsByModule(modulo?.nodes || []);
---

<Layout title={title}>
  <section class="language" id="post">
    <header class="language__header">
      <a href="/languages" class="header__back-btn">
        <BackArrow width={30} height={30} />
      </a>
    </header>
    <div class="language__container">
      <img
        class="language__icon"
        src={icon.node.mediaItemUrl}
        srcset={icon.node.srcSet}
        sizes={icon.node.sizes}
        alt={title}
      />
      <div class="language__content">
        <h1 class="text-gradient language__title">{title}</h1>
        <div set:html={content} />
        {
          modulesGrouped && Object.keys(modulesGrouped).length > 0 && (
            <div class="language__accordion-container">
              {Object.entries(modulesGrouped).map(([moduleName, lessons]) => (
                <details class="language__accordion" open>
                  <summary class="language__summary">
                    <span>{moduleName}</span>
                  </summary>
                  <ul class="language__lessons">
                    {lessons.map((lesson) => (
                      <li class="language__lesson">
                        <a
                          data-astro-prefetch="hover"
                          href={`/languages/${language.slug}/module/${lesson.slug}`}
                        >
                          {lesson.moduleFields?.leccion && (
                            <span class="lesson__number">
                              {lesson.moduleFields.leccion}:{" "}
                            </span>
                          )}
                          <span class="lesson__title">{lesson.title}</span>
                        </a>
                      </li>
                    ))}
                  </ul>
                </details>
              ))}
            </div>
          )
        }
      </div>
    </div>
  </section>
</Layout>

<script>
  import { InsertButtonCopy } from "@pages/post/button-copy";
  InsertButtonCopy();
</script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const container = document.getElementById("post") as HTMLElement;
    const allImages = container.querySelectorAll<HTMLImageElement>("img");
    const dialog = container.querySelector("dialog") as HTMLDialogElement;
    const body = document.querySelector("body") as HTMLBodyElement;

    allImages.forEach((image) => {
      image.addEventListener("click", () => {
        dialog.open = true;
        body.classList.add("overflow-hidden");
        const imageSrc = image.getAttribute("src");
        const imageAlt = image.getAttribute("alt") || "Image";
        const imageRender = document.createElement("img");
        imageRender.src = imageSrc || "";
        imageRender.alt = imageAlt;
        dialog.appendChild(imageRender);
      });
    });

    dialog.addEventListener("click", () => {
      dialog.close();
      body.classList.remove("overflow-hidden");
      dialog.innerHTML = "";
    });
  });
</script>
