---
import Layout from "@src/layouts/Layout.astro";
import { getContributor } from "@src/services/getContributor";

const { slug } = Astro.params;

const contributor = await getContributor(slug);
---

<Layout>
  <section class="contributor">
    <div class="contributor__banner " style=`--bg: url(${contributor.banner.mediaItemUrl})`>
      <div class="contributor__image">
        <img src={contributor.profilepic.mediaItemUrl} alt={contributor.profilepic.altText} />
        <div class="contributor__overlay"></div>
      </div>
      <h1 class="contributor__title">{contributor.name}</h1>
    </div>
    <div class="contributor__content">
      <article
        class="contributor__description"
        set:html={contributor.description}
      >
      </article>
    </div>
  </section>
</Layout>
