---
import Button from "@src/components/atoms/Button/Button.astro";
import Layout from "@src/layouts/Layout.astro";
import SideBar from "@molecules/sideBar/SideBar.astro";
import { getContributor } from "@src/services/getContributor";

const { slug } = Astro.params;
const contributor = await getContributor(slug) as Contributtor;
import { rollList } from "./rollList";
import type { Post } from "@src/types/post.type";
import type { Contributtor } from "@src/types/contributtors.types";
import Title from "@src/components/atoms/Title/Title.astro";
import CardSidebar from "@molecules/sideBar/cards-sidebar/CardSidebar.astro";

let tags: { name: string; color: string; icon: string }[] = [];

contributor.rol.forEach((rol) => {
  const tag = rollList.find((item) => item.name === rol);
  if (tag) tags.push(tag);
});
console.log("contributor", contributor.tuUsuario.posts);

const icons = {
  github: "akar-icons:github-fill",
  instagram: "akar-icons:instagram-fill",
  koFi: "simple-icons:kofi",
  linkedin: "akar-icons:linkedin-fill",
  twitch: "akar-icons:twitch-fill",
  youtube: "akar-icons:youtube-fill",
};
---

<Layout>
  <section class="contributor">
    <div
      class="contributor__banner"
      style=`--bg: url(${contributor.banner.mediaItemUrl})`
    >
      <a href="/support" class="contributor__back">
        <iconify-icon
          icon="ic:outline-arrow-back"
          width="30"
          height="30"
          style={`color: ${contributor.customcolor} `}></iconify-icon>
      </a>
      <div class="contributor__overlay"></div>
    </div>

    <div class="contributor__container">
      <div class="contributor__image">
        <img
          src={contributor.profilepic.mediaItemUrl}
          alt={contributor.profilepic.altText}
        />
      </div>
      <article class="contributor__info">
        <h1 class="contributor__title">{contributor.name}</h1>
        <ul class="contributor__rol">
          {
            tags.map((rol) => (
              <li
                class="contributor__rol-item"
                style={`--color-render: ${rol.color}`}
              >
                <iconify-icon
                  icon={`material-icon-theme:${rol.icon}`}
                  class="icon"
                />
                {rol.name}
              </li>
            ))
          }
        </ul>
      </article>
    </div>
    <div class="contributor__content ">
        <article
          class="contributor__description"
          set:html={contributor.description}
        ></article>
      <SideBar>
        <ul class="contributor__social-list">
          {
            Object.keys(contributor.socialLinks)
              .filter((link) => contributor.socialLinks[link] !== null)
              .map((link) => (
                <li class="contributor__social-item">
                  <Button
                    href={contributor.socialLinks[link]}
                    target="_blank"
                  >
                    <iconify-icon
                      class="contributor__icon"
                      icon={icons[link]}
                      width="24"
                      height="24"
                      style="color: #2dcece"
                    />
                    <span class="contributor__link">{link}</span>
                  </Button>
                </li>
              ))
          }
        </ul>
         {
          contributor.tuUsuario && contributor.tuUsuario.posts.length > 0 && (

              <Title class="contributor__posts-title">
                Posts de {contributor.tuUsuario.firstName} {contributor.tuUsuario.lastName}
              </Title>
              <div class="contributor__posts">
                {contributor.tuUsuario.posts.slice(0, 3).map((post)  => (

                  <CardSidebar
                   {...post }
                  />
                ))}
              </div>

          )
        }
      </SideBar>
  </section>
</Layout>
