---
import Layout from "@src/layouts/Layout.astro";
import { getContributor } from "@src/services/getContributor";

const { slug } = Astro.params;

const contributor = await getContributor(slug);

const list = [
  {
    name: "Frontend Developer",
    icon: "azure-pipelines",
    color: "100, 181, 246",
  },
  {
    name: "Backend Developer",
    icon: "3d",
    color: "41, 182, 246",
  },
  { name: "Diseñador", icon: "figma", color: "124, 77, 255" },
  { name: "Escritor", icon: "dhall", color: "120, 144, 156" },
  {
    name: "Divulgador de programación",
    icon: "brainfuck",
    color: "255, 64, 129",
  },
  { name: "Javascript Developer", icon: "javascript", color: "255, 202, 40" },
  { name: "Mobile Developer", icon: "architecture", color: "102, 187, 106" },
  { name: "Editor de Video", icon: "video", color: "255, 152, 0" },
  { name: "Maquetador", icon: "palette", color: "79, 195, 247" },
  { name: "Fullstack Developer", icon: "astyle", color: "239, 83, 80" },
  { name: "UX/UI", icon: "bazel", color: "129, 199, 132" },
];

let tags: { name: string; color: string; icon: string }[] = [];

contributor.rol.forEach((rol) => {
  const tag = list.find((item) => item.name === rol);
  if (tag) tags.push(tag);
});
---

<Layout>
  <section class="contributor">
    <div
      class="contributor__banner"
      style=`--bg: url(${contributor.banner.mediaItemUrl})`
    >
      <div class="contributor__overlay"></div>
    </div>
    <div class="contributor__container">
      <div class="contributor__image">
        <img
          src={contributor.profilepic.mediaItemUrl}
          alt={contributor.profilepic.altText}
        />
      </div>
      <article class="contributor__info">
        <h1 class="contributor__title">{contributor.name}</h1>
        <ul class="contributor__rol">
          {
            tags.map((rol) => (
              <li
                class="contributor__rol-item"
                style={`--color-render: ${rol.color}`}
              >
                <iconify-icon
                  icon={`material-icon-theme:${rol.icon}`}
                  class="icon"
                />
                {rol.name}
              </li>
            ))
          }
        </ul>
      </article>
    </div>
    <div class="contributor__content">
      <article
        class="contributor__description"
        set:html={contributor.description}
      />
    </div>
  </section>
</Layout>
