---
import { cardsData as data } from "@services/getCards.js";

const cardsData = await data();
const getStickyPost = cardsData?.posts?.nodes.find(
  (post: any) => post?.isSticky === true
);
const MostrecentPost = cardsData?.posts?.nodes?.sort(
  (a: any, b: any) => Date.parse(b?.date) - Date.parse(a?.date)
);
---

{
  getStickyPost ? (
    <article class="sticky-post">
      <a
        class="sticky-post__link sticky-post__link--container "
        href={`/blog/${getStickyPost.slug}`}
      >
        <img
          class="sticky-post__image"
          srcset={getStickyPost.featuredImage?.node?.srcSet}
          sizes={getStickyPost.featuredImage?.node?.sizes}
          src={getStickyPost.featuredImage?.node?.sourceUrl}
          alt={getStickyPost.featuredImage?.node?.altText}
        />
      </a>
      <div class="sticky-post__content">
        <h2 class="sticky-post__title text-gradient">{getStickyPost.title}</h2>
        <fragment
          class="sticky-post__excerpt"
          set:html={getStickyPost.seo.metaDesc}
        />
        <a
          class="sticky-post__button"
          href={`/blog/${getStickyPost.slug}`}
          transition:name={`styckyPost-${getStickyPost.title}`}
        >
          Leer más...
        </a>
      </div>
    </article>
  ) : (
    <article class="sticky-post">
      <a
        class="sticky-post__link  "
        href={`/blog/${MostrecentPost[0].slug}`}
        aria-label={`Leer mas sobre ${MostrecentPost[0].title}`}
      >

          <img
            width="599"
            height="336"
            class="sticky-post__link__image"
            srcset={MostrecentPost[0].featuredImage?.node?.srcSet}
            sizes={MostrecentPost[0].featuredImage?.node?.sizes}
            src={MostrecentPost[0].featuredImage?.node?.sourceUrl}
            alt={MostrecentPost[0].featuredImage?.node?.altText}
          />

      </a>
      <div class="sticky-post__content">
        <h2 class="sticky-post__title text-gradient">
          {MostrecentPost[0].title}
        </h2>
        <fragment
          class="sticky-post__excerpt"
          set:html={MostrecentPost[0].seo.metaDesc}
        />
        <a
          aria-label={`Leer mas sobre ${MostrecentPost[0].title}`}
          class="sticky-post__button"
          href={`/blog/${MostrecentPost[0].slug}`}
          transition:name={`styckyPost-${MostrecentPost[0].title}`}
        >
          Leer más...
        </a>
      </div>
    </article>
  )
}

<style lang="scss" is:global>
  @use "@sass/variables" as v;
  @use "@sass/mixins" as  *;
  .sticky-post {
    @include flexConfig(center, center);
    align-content: center;
    width: 100%;
    gap: 5rem;
    flex-wrap: wrap;
    @include respond-to("medium") {
      justify-content: center;
      text-align: center;
    }
    &__link {
      width: 100%;
      height: 100%;
      max-width: 599px;
      max-height: 336px;
      border-radius: 12px;
      overflow: hidden;
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease-in-out;
      }
      &:hover &__image {
        transform: scale(1.1);
      }
    }

    &__content {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      align-self: flex-start;
    }

    &__title {
      font-size: clamp(3rem, 8vw, 3.6rem);
      font-weight: 800;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      color: var(--ufoGreen);
      @include respond-to("medium") {
        justify-content: center;
        text-align: center;
      }
    }

    &__excerpt {
      color: white;
      font-size: 1.6rem;
    }
    &__button {
      color: v.$ufo-green;
      background-color: v.$french-violet;
      font-weight: 600;
      max-width: 200px;
      padding: 1rem;
      text-align: center;
      border-radius: 12px;
      text-transform: uppercase;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      &:hover {
        background: rgba(108, 0, 250, 0.751);
      }
      @include respond-to("medium") {
        max-width: 100%;
      }
    }
  }

  .most-recent-post__title {
    font-size: 2.25rem;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
