---
import { cardsData as data } from "@services/getCards.js";

const cardsData = await data();
const getStickyPost = cardsData.posts.nodes.find(
  (post) => post.isSticky === true
);
const MostrecentPost = cardsData.posts.nodes.sort(
  (a, b) => Date.parse(b.date) - Date.parse(a.date)
);
import { fade } from "astro:transitions";
---

{
  getStickyPost ? (
    <article class="sticky-post" >
      <a
        class="sticky-post__link sticky-post__link--container "
        href={`/blog/${getStickyPost.slug}`}

      >
        <img
          class="sticky-post__image"
          srcset={getStickyPost.featuredImage?.node?.srcSet}
          sizes={getStickyPost.featuredImage?.node?.sizes}
          src={getStickyPost.featuredImage?.node?.sourceUrl}
          alt={getStickyPost.featuredImage?.node?.altText}
        />
      </a>
      <div class="sticky-post__content">
        <h2 class="sticky-post__title text-gradient">{getStickyPost.title}</h2>
        <fragment
          class="sticky-post__excerpt"
          set:html={getStickyPost.excerpt}
        />
        <a class="sticky-post__button" href={`/blog/${getStickyPost.slug}`} transition:name={`styckyPost-${getStickyPost.title}`} transition:animate={fade({ duration: ".4s" })}>
          Leer más...
        </a>
      </div>
    </article>
  ) : (
    <h1 class="most-recent-post__title">{MostrecentPost[0].title}</h1>
  )
}

<style lang="scss" is:global>
  @use "@sass/variables" as v;
  @use "@sass/mixins" as mixins;
  .sticky-post {
    @include mixins.centerFlex(center, center);
    align-content: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    gap: 2.5rem;
    padding-top: 11rem;

    &__link--container {
      width: 100%;
      height: 100%;
      max-width: 599px;
      max-height: 336px;
      border-radius: 12px;
      overflow: hidden;
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__content {
      flex: 1;
      min-width: 30rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    &__title {
      font-size: 2.25rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      color: var(--ufoGreen);
    }

    &__excerpt {
      color: white;
    }
    &__button {
      color: v.$ufo-green;
      background-color: v.$french-violet;;
      font-weight: 600;
      max-width: 200px;
      padding: 1rem;
      text-align: center;
      border-radius: 12px;
      text-transform: uppercase;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      &:hover {
        background:  rgba(108, 0, 250, 0.751);
      }
    }
  }

  .most-recent-post__title {
    font-size: 2.25rem;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
