---
import DateTag from "@atoms/DateTag/DateTag.astro";
import Categories from "@organisms/Posts/components/Categories.astro";
import type { Post } from "@src/types/post.type.ts";

interface Props extends Post {
  key?: string;
  class?: string;
  variant?: "default" | "horizontal" | "compact";
}

const {
  image,
  slug,
  title,
  excerpt,
  author,
  categories,
  date,
  class: className = "",
  variant = "default",
  ...rest
} = Astro.props;
---

<article class={`post-card post-card--${variant} ${className}`} {...rest}>
  <!-- Imagen del post -->
  <div class="post-card__image-container">
    <img
      alt={title}
      src={image?.mediaItemUrl || "/img/defaultBanner.png"}
      srcset={image?.srcSet}
      sizes={image?.sizes}
      class="post-card__image"
    />
    <div class="post-card__image-overlay"></div>
  </div>

  <!-- Contenido del post -->
  <div class="post-card__content">
    <!-- Autor e información adicional -->
    <div class="post-card__author">
      <img
        src={author?.avatar?.url}
        alt={`${author?.firstName} ${author?.lastName}`}
        class="post-card__author-image"
      />
      <div class="post-card__author-info">
        <p class="post-card__author-name">
          {author?.firstName}
          {author?.lastName}
        </p>
        {
          (variant === "default" || variant === "compact") && (
            <DateTag date={date} />
          )
        }
      </div>
    </div>
    <!-- Título -->
    <a href={`/post/${slug}`}>
      <h3 class="post-card__title group">
        {title}
        {
          variant === "default" && (
            <iconify-icon
              icon="ri:links-line"
              class="group-hover:opacity-100 opacity-0 transition-all duration-200 ease-linear"
            />
          )
        }
      </h3>
    </a>

    <!-- Descripción -->
    {
      (variant === "default" || variant === "horizontal") && (
        <fragment
          class="post-card__excerpt"
          set:html={excerpt.replace(/\[.*?\]/g, "...")}
        />
      )
    }

    <!-- Categorías -->
    {
      variant === "default" && categories && (
        <div class="post-card__categories">
          <Categories categories={categories} />
        </div>
      )
    }
  </div>
</article>
