---
import type { Post } from "@src/types/post.type.ts";
import { formatedDateShort } from "@utils/formatedDate";
import DateTag from "@atoms/DateTag/DateTag.astro";
import Categories from "@organisms/Posts/components/Categories.astro";

interface Props extends Post {
  key?: string;
  class?: string;
}

const {
  image,
  slug,
  title,
  excerpt,
  author,
  categories,
  date,
  class: className,
  ...rest
} = Astro.props;
---

<article
  class={`post-card className ${className}`}
  {...rest}
>
  <!-- Imagen del post -->
  <div class="post-card__image-container">
    <img
      alt={title}
      src={image?.mediaItemUrl || "/img/defaultBanner.png"}
      srcset={image?.srcSet }
      sizes={image?.sizes}
      class="post-card__image"
    />
    <div class="post-card__image-overlay"></div>
  </div>

  <!-- Contenido del post -->
  <div class="post-card__content">
    <!-- Autor e información adicional -->
    <div class="post-card__author">
      <img
        src={author?.avatar?.url}
        alt={`${author?.firstName} ${author?.lastName}`}
        class="post-card__author-image"
      />
      <div class="post-card__author-info">
        <p class="post-card__author-name">{author?.firstName} {author?.lastName}</p>
        <DateTag date={date} />
      </div>
    </div>
    <!-- Título -->
    <a href={`/blog/${slug}`}>
      <h3 class="post-card__title group">
        {title}
        <iconify-icon
          icon="ri:links-line"
          class="group-hover:opacity-100 opacity-0 transition-all duration-200 ease-linear"
        ></iconify-icon>
      </h3>
    </a>

    <!-- Descripción -->
    <fragment
      class="post-card__excerpt"
      set:html={excerpt.replace(/\[.*?\]/g, "...")}
    />

    <!-- Categorías -->
    <div class="post-card__categories">
      {
       categories&&
        <Categories categories={categories}   />
      }
    </div>
  </div>
</article>
