---
// Import necessary components and data
import PostCard from "@src/components/atoms/PostCard/PostCard.astro";
import { wpquery } from "@src/data/wordpress";
import Layout from "@src/layouts/Layout.astro";
import { cardsData } from "@src/services/getCards.js";

interface Category {
  name: string;
  slug: string;
}
// Get static paths for categories
export async function getStaticPaths() {
  const categoryData = await wpquery({
    query: `
    query getCategories {
      categories {
        nodes {
          slug
          name
        }
      }
    }
    `,
  });

  // Map to get slugs and props
  const paths = categoryData.categories.nodes.map((category: any) => ({
    params: { slug: category.slug },
    props: { category },
  }));
  return paths;
}

const { category }: { category: Category | null } = Astro.props;

const allPosts = cardsData.posts.nodes;

const filteredPosts = allPosts.filter((post) =>
  post.categories.nodes.map((cat) => cat.slug).includes(category.slug)
);

// Sort the filtered posts by date
const sortedPosts = filteredPosts.sort(
  (a, b) => Date.parse(b.date) - Date.parse(a.date)
);
---

<Layout >
  <section class="categories">
    <div class="categories__container">
      <h2 class="category__title">
        Posts de la categoría: {category?.name}
      </h2>
      {
        sortedPosts.length > 0 ? (
          <ul role="list" class="link-card-grid">
            {sortedPosts.map((post) => {
              const featuredImage =
                post.featuredImage?.node?.mediaItemUrl ||
                "/img/branding/logo.png";
              const altText =
                post.featuredImage?.node?.altText || "Imagen no disponible";

              // Logic for handling the slug of subcategory and parent
              const primaryCategory = post.categories.nodes[0];
              const parentCategory = primaryCategory.parent?.node;

              // Generate the correct slug based on parent presence
              const categorySlug = parentCategory
                ? `/categories/${parentCategory.slug}/${primaryCategory.slug}` // Combine parent and child
                : `/categories/${primaryCategory.slug}`; // Only child

              return (
                <li>
                  <PostCard
                    transition:persist
                    server:defer
                    date={post.date}
                    link={`/blog/${post.slug}`}
                    title={post.title}
                    body={post.excerpt}
                    linkBody="Leer más"
                    image={featuredImage}
                    altText={altText}
                    author={post.author.node.name}
                    authorImage={post.author.node.avatar.url}
                    authorFirstName={post.author.node.firstName}
                    authorLastName={post.author.node.lastName}
                    categories={post.categories.nodes}
                    Assuming
                    this
                    is
                    the
                    correct
                    reference
                    categorySlug={categorySlug}
                  />
                </li>
              );
            })}
          </ul>
        ) : (
          <p>No se encontraron posts en esta categoría.</p>
        )
      }
    </div>
  </section>
</Layout>

<style lang="scss">
  .categories {
    padding-top: 4rem;
    max-width: 1300px;
    margin: 0 auto;
    &__container {
      align-items: center;
    }
  }
</style>
