---
import type { Post } from "@src/types/post.type.ts";
import { formatedDateShort } from "@utils/formatedDate";
import CategoriesTags from "../CategoriesTags/CategoriesTags.astro";
const {
  image,
  slug,
  title,
  excerpt,
  author,
  categories,
  date,
} = Astro.props;

const post: Post = {
  title,
  slug,
  excerpt,
  date,
  image,
  author,
  categories,
};
---

<article
  class="post-card"
>
  <!-- Imagen del post -->
  <div class="post-card__image-container">
    <img
      alt={post.title}
      src={post.image?.mediaItemUrl}
      srcset={post.image?.srcSet }
      sizes={post.image?.sizes}
      class="post-card__image"
    />
    <div class="post-card__image-overlay"></div>
  </div>

  <!-- Contenido del post -->
  <div class="post-card__content">
    <!-- Autor e información adicional -->
    <div class="post-card__author">
      <img
        src={post?.author?.avatar?.url}
        alt={`${post.author?.firstName} ${post.author?.lastName}`}
        class="post-card__author-image"
      />
      <div class="post-card__author-info">
        <p class="post-card__author-name">{post.author?.firstName} {post.author?.lastName}</p>
        <time datetime={post.date} class="post-card__date">
          <iconify-icon icon="majesticons:clock"></iconify-icon>
          {formatedDateShort(post.date)}
        </time>
      </div>
    </div>
    <!-- Título -->
    <a href={`/blog/${slug}`}>
      <h3 class="post-card__title group">
        {post.title}
        <iconify-icon
          icon="ri:links-line"
          class="group-hover:opacity-100 opacity-0 transition-all duration-200 ease-linear"
        ></iconify-icon>
      </h3>
    </a>

    <!-- Descripción -->
    <fragment
      class="post-card__excerpt"
      set:html={post.excerpt.replace(/\[.*?\]/g, "...")}
    />

    <!-- Categorías -->
    <div class="post-card__categories">
      {
        post?.categories?.map((category) => (
        <CategoriesTags  slug={category.slug} name={category.name} />
        ))
      }
    </div>
  </div>
</article>
