---
const { id, href, class: className, ...rest } = Astro.props;
---

{
  href ? (
    <a href={href} class={`${className} button button--link`} id={id} {...rest}>
      <slot />
    </a>
  ) : (
    <button class={`${className} button`} {...rest} type="button" id={id}>
      <slot />
    </button>
  )
}
