---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@sass/main.scss";
import { ClientRouter } from 'astro:transitions';
/* import { ViewTransitions } from "astro:transitions"; */

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = "/img/branding/logo.png",
} = Astro.props;

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/img/branding/logo.png" />
<meta name=”robots” content=”index, follow”>
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->

<meta name="title" content={title}   />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Adsense -->
<meta name="google-adsense-account" content="ca-pub-3828278469742835">


<!-- css librerias/ cdn -->


<!-- Iconify CDN -->
<script src="https://code.iconify.design/iconify-icon/2.0.0/iconify-icon.min.js"
></script>
<!-- <ViewTransitions /> -->
<ClientRouter />


<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-4HD0MHWJHW");
</script>
