---
import type { Post } from "@src/types/post.type";
import CategoriesTags from "../CategoriesTags/CategoriesTags.astro";
import Categories from "../../DesarrolloWeb/Categories/Categories.astro";
interface Props extends Post {}

const { title, slug, excerpt, image, categories, date, author } = Astro.props;
---

<article class="secondary-card">
  <div class="secondary-card__container">
    <img src={image.mediaItemUrl} alt={title} class="container__image" />
  </div>
  <div class="secondary-card__content">
    <a href={`/blog/${slug}`} class="secondary-card__title">
      {title}
     </a>
    <fragment set:html={excerpt} class="secondary-card__desc"/>
    <Categories {categories} />
  </div>
</article>

<style lang="scss">
  @use "@sass/variables" as v;
  @use "@sass/mixins" as mixins;

  .secondary-card {
    border: var(--card-border);
    background-color: var(--card-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.2rem;
    color: var(--mainColor);
    width: 100%;
    max-width: 573px;
    gap: 1rem;
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.65);
    border-radius: 12px;
    &__container {
      overflow: hidden;
      width: 127px;
      height: 144px;
      border-radius: 0.5rem;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
    &__title {
      color: var(--mainColor);
      text-transform: uppercase;
      font-size: 2.1rem;
      font-weight: 700;
    }
    &__desc {
      font-size: 1.2rem;
      font-weight: 400;
    }
    &__tags {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
    }
    &__tag {
      padding: 0.3rem 0.7rem;
      background-color: v.$french-violet;
      color: white;
      border-radius: 1rem;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
</style>
