---
import styles from "./card-sidebar.module.scss";



const { image, title, excerpt, slug } = Astro.props;
---


  <a href={`/blog/${slug}`} class={styles.sideCard} data-astro-prefetch="hover">
    <div class={styles.cardContainer}>
      <img
        src={image.mediaItemUrl || "/img/defaultBanner.png"}
        srcset={image.srcSet}
        sizes={image.sizes}
        alt={image.altText || "Portada del post XD"}
        class={styles.cardImage}
      />
    </div>
    <h3 class={styles.cardTitle}>{title}</h3>

    <fragment
      class={styles.cardExcerpt}
      set:html={excerpt.replace(/\[.*?\]/g, "...")}
    />

  </a>
